html{
    overflow-x: hidden;
}
q{
    font-style: italic;
}

.loader{
    background-color: rgba(0,174,239);
    position:fixed;
    z-index:99999;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
.scrollhide{
    display:none;
}
.spinner {
    position: absolute;
    left: 48%;
    top: 48%;
    height:60px;
    width:60px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(0,174,239,.15);
    border-right:6px solid rgba(0,174,239,.15);
    border-bottom:6px solid rgba(0,174,239,.15);
    border-top:6px solid rgba(0, 88, 121, 0.9);
    border-radius:100%;
 }


 @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
 }
 @-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
 }
 @-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
 }
 @keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
 }

/* Navbar */
.navbar-content {
    width: 85%;
    margin: 0 auto;

}

.navbar-brand-custom {
    color: black;
    transition: color ease-in-out 0.1s;

}

.navbar-toggler-icon.scrolled {
    color: white;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:hover {
    border: none;
    outline: none;
    box-shadow: none;
}



.navbar-brand-custom.scrolled {
    color: white;
    transition: color ease-in-out 0.1s;
}

.navbar-content .nav-item {
    margin: 0 auto;
}

.navbar-content .nav-item .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.fixed-top {
    background-color: black;
}

.navbar-link {
    color: white;
}


/*----Navbar END----*/

/*-----FOOTER----*/
.footer {
    min-height: 30vh;
    height: auto;
    background-color: black;
    display: flex;
    color: white;
}

.footer-section {
    width: 100%;
}

.navigation-t {
    margin-left: 40%;
    margin-right: auto;

}

.navigation-link {
    text-decoration: none;
    color: white;
    text-align: left;
    -moz-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
    
}
.navigation-links{
    margin-left: 40%;
    margin-right: auto;
}

.navigation-link:hover {
    text-decoration: none;
    color: #3b89ac;
}

/*-----FOOTER END---*/

/*-------Home-----*/
.title {
    height: 100vh;
    display: flex;
    margin: 0;
    background-image: url("/assets/matt-hardy-6ArTTluciuA-unsplash.jpg");
    background-position:center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
}

.title-text-container {
    margin-top: 40vh;
    margin-bottom: auto;
}


@media (min-width: 280px) {
    .title-text {
        font-size: 1.75rem;
    }
    .membername{
        font-size: 1rem;
    }
    .memberphotodiv{
        height: 140px;
        width: 140px;
    }
    .memberrole {
        font-size: 0.7rem;
    }
}

@media (min-width: 375px) {
    .title-text {
        font-size: 1.75rem;
    }
    .membername{
        font-size: 1rem;
    }
    .memberphotodiv{
        height: 140px;
        width: 140px;
    }
    .memberrole {
        font-size: 0.75rem;
    }
}

@media (min-width: 544px) {
    .title-text {
        font-size: 2rem;
    }
    .membername{
        font-size: 1.05rem;
    }
    .memberphotodiv{
        height: 140px;
        width: 140px;
    }
    .memberrole {
        font-size: 0.75rem;
    }
}

@media (min-width: 768px) {
    .title-text {
        font-size: 2.5rem;
    }
    .membername{
        font-size: 1.1rem;
    }
    .memberphotodiv{
        height: 150px;
        width: 150px;
    }
    .memberrole {
        font-size: 0.75rem;
    }
}

@media (min-width: 992px) {
    .title-text {
        font-size: 3rem;
    }
    .membername{
        font-size: 1.15rem;
    }
    .memberphotodiv{
        height: 150px;
        width: 150px;
    }
    .memberrole {
        font-size: 0.8rem;
    }
}

@media (min-width: 1200px) {
    .title-text {
        font-size: 4rem;
    }

    .membername{
        font-size: 1.15rem;
    }
    .memberphotodiv{
        height: 150px;
        width: 150px;
    }
    .memberrole {
        font-size: 0.85rem;
    }
}

.section-2-about {
    height: auto;
    min-height: 60vh;
    display: flex;
}

.section2-text-about {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10%;
    padding-bottom: 10%;
}

.button-aboutus {
    margin-top: 30px;
    background-color: black;
    color: white;
    border-radius: 0;
}

.border-bottom{
    margin-left: auto;
    margin-right: auto;
}

.button-aboutus:hover {
    background-color: black;
    color: White;
    border-color: white;
}

.section-3-wavenergy{
    height: auto;
    min-height: 60vh;
    display: flex;
    background-image: url("/assets/wavenergy.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);
    color: whitesmoke;
}

.section3-text-wavenergy{
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10%;
    padding-bottom: 10%;
}



/*---ABOUT US---*/

.aboutus {
    height: auto;
    min-height: 30vh; 
    display: flex;
    margin: 0;    
    background-color: whitesmoke;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: auto;
    margin-bottom: auto;
}
.aboutus-title{
    margin-top: 30vh;
    color: Black;
}

.section-2-mission {
    height: auto;
    min-height: 60vh;
    display: flex;
    
    
}

.section2-text-mission {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10%;
    padding-bottom: 10%;
}



.section-3 {
    display: flex;
    height: auto;
    background-color: whitesmoke;
}


.section3-text {
    margin-top: 5%;
}


.membername {
    margin: 0;
}

.memberrole {
    padding: 0;
}
.memberinfo{
    min-height: 250px;
}

.memberinfo{
    min-height: 100px;
}

.socialicon {
    color: black;
    font-size: 1rem;
}


.carousel-inner {
    margin: 2%;
    width: auto;
    padding-bottom: 5%;
}

.memberphotodiv {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 50%;
    display: block;
}


.all-title{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.90rem;
}

.title-Mecc-text{
    font-size: 2.85rem;
    
}
.subtext{
    font-size: 1.85rem;
    color: gray;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
}
.section-2-Mecc{
    margin-top: 100px;
}
.section2-text-Mecc{
    margin-top: auto;
    margin-bottom: auto;
}
.meccmap{
    min-height: 200px;
    max-height: 600px;
}

.teamphoto{
    max-height: 380px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    max-height: 35px;
    padding-left: 2%;
}